<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,		initial-scale=1, shrink-to-fit=no">
    <title>Groupe 6x7 - Projet "Portfolio professionnel"</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/groupe7/style.css">
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/accueil/custom.css">

</head>

<body>
<div class="container-fluid" style="padding:0px;">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top shadow p-3 mb-5 bg-white">
        <img class="navbar-brand img-fluid img_wcs" src="/assets/images/logo.png" alt="logo">
        <a class="navbar-brand" href="/"><span class="base_wcs_orange">into the </span><span class="base_wcs_white">wild</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse navbarMargin" id="navbarsExampleDefault">

            <ul class="navbar-nav mr-auto">

                <li class="nav-item mr-5">
                    <a class="nav-link" href="#"><span class="sr-only"></span></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/portfolio">PORTFOLIO</a>
                </li>

                <li class="nav-item ">
                    <a class="nav-link" href="/page/1">BLOG</a>
                </li>

            </ul>
            <ul class="navbar-nav ml-auto mr-5">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="groupe1" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false">
                        Groupe
                    </a>
                    <div class="dropdown-menu" aria-labelledby="groupe1">
                        <a class="dropdown-item" href="/portfolio/groupe1">Born to be wild</a>
                        <a class="dropdown-item" href="/portfolio/groupe2">Air WCS</a>
                        <a class="dropdown-item" href="/portfolio/groupe3">DEvelopers on DEmand</a>
                        <a class="dropdown-item" href="/portfolio/groupe4">Welcome on our</a>
                        <a class="dropdown-item" href="/portfolio/groupe5">Wild Dev</a>
                        <a class="dropdown-item" href="/portfolio/groupe6">Stars Wars</a>
                        <a class="dropdown-item" href="/portfolio/groupe7">6x7</a>
                        <a class="dropdown-item" href="/portfolio/groupe8">Nature</a>
                        <a class="dropdown-item" href="/portfolio/groupe9">Air Wild</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</div>


<div class="accueil">
    <div class="row profilCardContainer ">
        <div class="col-12 blocLogoTitle">
            <h2>Work attractive and creative</h2>
        </div>

        <div class="col-sm-4 col-md-6 col-lg-4 col-xl-4 random blocCardPro">
            <a href="/assets/content/groupe7/ProfilPage_Lisa.html">
                <div class="card blocprofil">

                    <div class="Bg-imglisa"> </div>
                    <nomprofil>Lisa</nomprofil>
                </div>
            </a>
        </div>


        <div class="col-sm-4 col-md-6 col-lg-4 col-xl-4 random blocCardPro">
            <a href="/assets/content/groupe7/ProfilPage_Aymeric.html">
                <div class="card blocprofil ">
                    <div class="Bg-imgaymeric"> </div>
                    <nomprofil>Aymeric</nomprofil>
                </div>
            </a>
        </div>


        <div class="col-sm-4 col-md-6 col-lg-4 col-xl-4 random blocCardPro">
            <a href="/assets/content/groupe7/ProfilPage_Celine.html">
                <div class="card blocprofil ">
                    <div class="Bg-imgceline"> </div>
                    <nomprofil>Céline</nomprofil>
                </div>
            </a>
        </div>


        <div class="col-sm-4 col-md-6 col-lg-4 col-xl-4 random blocCardPro">
            <a href="/assets/content/groupe7/ProfilPage_Paul.html">
                <div class="card blocprofil">
                    <div class="Bg-imgpaul"> </div>
                    <nomprofil>Paul</nomprofil>

            </a>
        </div>
    </div>


    <div class="col-sm-4 col-md-6 col-lg-4 col-xl-4 random blocCardPro">
        <a href="/assets/content/groupe7/ProfilPage_Kapucine.html">
            <div class="card blocprofil">
                <div class="Bg-imgkapucine"> </div>
                <nomprofil>Kapucine</nomprofil>
            </div>
        </a>
    </div>


    <div class="col-sm-4 col-md-6 col-lg-4 col-xl-4 random blocCardPro">
        <a href="/assets/content/groupe7/ProfilPage_Ioannis.html">
            <div class="card blocprofil">
                <div class="Bg-imgioannis"> </div>
                <nomprofil>Ioannis</nomprofil>
            </div>
        </a>
    </div>

    <div class="col-12">
        <h3>A funny and skilled Web Developpers team who can make your dreams come true. Are you ready to play
            with us ?</h3>
    </div>
</div>
</div>



<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js " integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo "
        crossorigin="anonymous "></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js " integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49 "
        crossorigin="anonymous "></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js " integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy "
        crossorigin="anonymous "></script>
<script type="text/javascript" src="/assets/js/groupe7/main.js"></script>
</body>

</html>
