<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/groupe8/stylesheet.css">
    <link rel="stylesheet" href="/assets/css/accueil/custom.css">


    <title>Done nuts</title>
</head>

<body>

<div class="container-fluid" style="padding:0px;">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top shadow p-3 mb-5 bg-white">
        <img class="navbar-brand img-fluid img_wcs" src="/assets/images/logo.png" alt="logo">
        <a class="navbar-brand" href="/"><span class="base_wcs_orange">into the </span><span class="base_wcs_white">wild</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">

            <ul class="navbar-nav mr-auto">

                <li class="nav-item">
                    <a class="nav-link" href="#"><span class="sr-only"></span></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/portfolio">PORTFOLIO</a>
                </li>

                <li class="nav-item ">
                    <a class="nav-link" href="/page/1">BLOG</a>
                </li>

            </ul>

            <ul class="navbar-nav ml-auto mr-5">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="groupe1" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false">
                        A-D
                    </a>
                    <div class="dropdown-menu" aria-labelledby="groupe1">
                        <a class="dropdown-item" href="/portfolio/groupe1">Groupe A-B</a>
                        <a class="dropdown-item" href="/portfolio/groupe2">Groupe B-C</a>
                        <a class="dropdown-item" href="/portfolio/groupe3">Groupe C-D</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="groupe2" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false">
                        E-M
                    </a>
                    <div class="dropdown-menu" aria-labelledby="groupe2">
                        <a class="dropdown-item" href="/portfolio/groupe4">Groupe E-G</a>
                        <a class="dropdown-item" href="/portfolio/groupe5">Groupe G-K</a>
                        <a class="dropdown-item" href="/portfolio/groupe6">Groupe K-M</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="groupe3" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false">
                        M-Y
                    </a>
                    <div class="dropdown-menu" aria-labelledby="groupe3">
                        <a class="dropdown-item" href="/portfolio/groupe7">Groupe M-N</a>
                        <a class="dropdown-item" href="/portfolio/groupe8">Groupe P-R</a>
                        <a class="dropdown-item" href="/portfolio/groupe9">Groupe S-Y</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</div>

<header class="menusIntegral container-fluid">
    <div class="d-none d-md-block container-fluid">

        <div class="headerMenus">
            <!-- line 1 grid-menus-anaelle-kevin-->
            <div class="row justify-content-center">
                <div class="anaelleMenus"><a href="/assets/content/groupe8/persoanaele.html"><img class="anaelleHeader" src="/assets/images/groupe8/anaelle1.png"
                                                                                 alt=""></a></div>
                <div class="kevinMenus"><a href="/assets/content/groupe8/persokevin.html"><img class="kevinHeader" src="/assets/images/groupe8/kevin.png"
                                                                              alt=""></a></div>
            </div>
            <!-- line 2 grid-menus-elliot-morgan-->
            <div class="row justify-content-center">
                <div class="elliotMenus"><a href="/assets/content/groupe8/persoeliott.html"><img class="elliotHeader"
                                                                                src="/assets/images/groupe8/elliot.png" alt=""></a></div>
                <div class="morganMenus"><a href="/assets/content/groupe8/persomorgan.html"><img class="morganHeader"
                                                                                src="/assets/images/groupe8/morgan.png" alt=""></a></div>
            </div>
            <!-- line 3 grid-menus-logo-ysatis-florent -->
            <div class="row justify-content-center">
                <div class="ysatisMenus"><a href="/assets/content/groupe8/persoysatis.html"><img class="ysatisHeader"
                                                                                src="/assets/images/groupe8/ysatis.png" alt=""></a></div>
                <div class="florentMenus"><a href="/assets/content/groupe8/persoflorent.html"><img class="florentHeader"
                                                                                  src="/assets/images/groupe8/florent.png" alt=""></a></div>
            </div>
            <!-- line 4 grid-menus-logo -->
            <div class="row justify-content-center">
                <div class="logoMenus"><a href="https://wildcodeschool.fr/lyon"><img class="logoHeader" src="/assets/images/groupe8/wild.png"
                                                                                     alt=""></a></div>
            </div>
        </div><!-- end div menus -->
    </div><!-- end div container fluid -->
</header>
<!----------- NAVBAR accueil mobile ----------->
<nav class="navbar d-block d-md-none navbar-default navbar-dark bg-dark">

    <button class="navbar-toggler" type="button" data-toggle="dropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/portfolio/groupe8">WILD FOLIO</a>

    <div class="dropdown-menu bg-dark" aria-labelledby="dropdownMenuButton">

        <a class="dropdown-item border-bottom border-top" href="/portfolio/groupe8"><img class="rounded-circle navImg mr-3" src="/assets/images/groupe8/house.svg" alt="Generic placeholder image"><span class="couleurwild">ACCUEIL</span></a>

        <a class="dropdown-item border-bottom" href="/assets/content/groupe8/persoanaele.html"><img class="rounded-circle navImg mr-3" src="/assets/images/groupe8/anaele-rond.png" alt="Generic placeholder image"><span class="couleurwild">Salvatore Anaële</span>
            <div class="media-body">
                <h5 class="mt-0 mb-1"></h5>
            </div></a>

        <a class="dropdown-item border-bottom" href="/assets/content/groupe8/persoysatis.html"><img class="rounded-circle navImg mr-3" src="/assets/images/groupe8/ysatis-rond.png" alt="Generic placeholder image"><span class="couleurwild">Place Ysatis</span></a>
        <a class="dropdown-item border-bottom" href="/assets/content/groupe8/persomorgan.html"><img class="rounded-circle navImg mr-3" src="/assets/images/groupe8/morgan-rond.png" alt="Generic placeholder image"><span class="couleurwild">Parhirin Morgan</span></a>
        <a class="dropdown-item border-bottom" href="/assets/content/groupe8/persoeliott.html"><img class="rounded-circle navImg mr-3" src="/assets/images/groupe8/eliott-rond.png" alt="Generic placeholder image"><span class="couleurwild">Raillere Eliott</span></a>
        <a class="dropdown-item border-bottom" href="/assets/content/groupe8/persoflorent.html"><img class="rounded-circle navImg mr-3" src="/assets/images/groupe8/florent-rond.png" alt="Generic placeholder image"><span class="couleurwild">Perticoz Florent</span></a>
        <a class="dropdown-item" href="/assets/content/groupe8/persokevin.html"><img class="rounded-circle navImg mr-3" src="/assets/images/groupe8/kevin-rond.png" alt="Generic placeholder image"><span class="couleurwild">Radlowski Kevin</span></a>
    </div>
</nav>

<!-- 1ère partie avec la présentation (titre + paragraphe)-->

<section>
    <h2>Présentation du projet</h2>
    <p class="presentation">Voici le portfolio du groupe 8 de la Wild Code School de Lyon ! Nous voulions aboutir à
        quelque chose de relativement ambitieux (modulo nos compétences de débutants bien sûr !). Pour voir le
        résultat de ce travail de 3 semaines, il s’agira de scroller, cliquer, passer la souris au-dessus des
        élements… Et ceci, sur les différents supports/résolutions possibles !</p>
</section>
<!-- 2ème partie avec galerie photos (modaux)-->

<section class="galllery-wip">
    <!----WORK IN PROGRESS------>
    <!---Disposition images--->

    <div class="grid" data-masonry='{ "itemSelector": ".grid-item", "columnWidth": 300 }'>
        <div class="grid-item">
            <img src="/assets/images/groupe8/wip6.jpg" alt="">
        </div>
        <div class="grid-item">
            <img src="/assets/images/groupe8/img1.jpg" alt="">
        </div>
        <div class="grid-item">
            <img src="/assets/images/groupe8/wip1.jpg" alt="">
        </div>
        <div class="grid-item">
            <img src="/assets/images/groupe8/wip2.jpg" alt="">
        </div>
        <div class="grid-item">
            <img src="/assets/images/groupe8/wip3.jpg" alt="">
        </div>
        <div class="grid-item">
            <img src="/assets/images/groupe8/wip4.jpg" alt="">
        </div>
        <div class="grid-item">
            <img src="/assets/images/groupe8/wip5.jpg" alt="">
        </div>
    </div>

</section>

<!-- Footer-->
<footer>

</footer>



<!-- Optional JavaScript -->

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
<script type="text/javascript" src="header-accueil/script.js"></script>
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<script type="text/javascript" src="/assets/js/groupe8/script.js"></script>
</body>

</html>
