<form method="post" enctype="multipart/form-data">

        <div class="form-group">
                <label for="name">Nom de la Catégorie : </label>
                <input type="text" name="name" value="{{ category.name }}" class="form-control" placeholder="Nom de la catégorie">
        </div>
        <div style="padding-bottom: 20px;">
                <input type="submit" style="background-color: #6D909C; border-color: #6D909C;" class="btn btn-success" value="Envoyer">
        </div>

</form>
