{% extends 'adminLayout.html.twig' %}

{% block content %}


    <style>
        @media screen and (max-width: 768px){
            .modal-dash {
                text-align: center;
                margin-left: 10px;
            }
        }

        @media screen and (min-width: 769px) and (max-width: 979px) {
            .modal-dash {
                text-align: right;
            }
        }

    </style>

    <h1>Dashboard</h1><hr/>

    <div class="container">

        <div class="row">

            <div style="margin-bottom: 10px;" class="col-md-4 col-sm-12 col-12 modal-dash">
                <div class="card animated bounceInUp">
                    <div class="card-body">
                        <h5 class="card-title text-center display-6"><i class="fas fa-users"></i> Utilisateurs</h5><hr>
                        <p class="text-center display-4 font-weight-bold animated wobble">{{ countTable.users }}</p><hr>
                        <div style="text-align: center;">
                            <a href="/admin/users" class="btn btn-outline-warning text-center animated swing"><i class="fas fa-list-ul"></i> Liste</a>
                        </div>
                    </div>
                </div>
            </div>

            <div style="margin-bottom: 10px;" class="col-md-4 col-sm-12 col-12 modal-dash">
                <div class="card animated bounceInDown">
                    <div class="card-body">
                        <h5 class="card-title text-center text display-5"><i class="fas fa-newspaper"></i> Articles</h5><hr>
                        <p class="text-center display-4 font-weight-bold animated wobble">{{ countTable.article }}</p><hr>
                        <div style="text-align: center;">
                            <a href="/admin/articles" class="btn btn-outline-warning text-center animated swing"><i class="fas fa-list-ul"></i> Liste</a>
                        </div>
                    </div>
                </div>
            </div>

            <div style="margin-bottom: 10px;" class="col-md-4 col-sm-12 col-12 modal-dash">
                <div class="card animated bounceInUp">
                    <div class="card-body">
                        <h5 class="card-title text-center display-5"><i class="fas fa-comments"></i> Commentaires</h5><hr>
                        <p class="text-center display-4 font-weight-bold animated wobble">{{ countTable.comments }}</p><hr>
                        <div style="text-align: center;">
                            <a href="/admin/comments" class="btn btn-outline-warning text-center animated swing"><i class="fas fa-list-ul"></i> Liste</a>
                        </div>
                    </div>
                </div>
            </div>


        </div>

    </div>

{% endblock %}