{% if(session["flash"]) %}
    {% for sessionKey, sessionValue in session["flash"] %}
        <div class="alert alert-{{ sessionKey }}">
            {{ sessionValue }}
        </div>
    {% endfor %}
{% endif %}