{% if(session["flash"]) %}
    {% for sessionKey, sessionValue in session["flash"] %}
        <div id="wcs-flasher" class="alert alert-{{ sessionKey }} animated bounce">
            <b style="display: block; text-align: center;" class="animated bounce">{{ sessionValue }}</b>
        </div>
    {% endfor %}
{% endif %}