

<footer class="footer">
    <div class="container">

        <span class="text-muted"> <span class="wcs_brand_orange">WCS</span> <span class="wcs_brand_white">.COM</span> </span>


        <a href="https://www.github.com/WildCodeSchool/" target="_blank"><button class="btn btn-outline-light rounded-circle"> <i class="fab fa-github"></i> </button></a>
        <a href="https://www.twitter.com/wildcodeschool/" target="_blank"><button class="btn btn-outline-light rounded-circle"> <i class="fab fa-twitter"></i> </button></a>
        <a href="https://www.facebook.com/wildcodeschool/" target="_blank"><button class="btn btn-outline-light rounded-circle"> <i class="fab fa-facebook"></i> </button></a>
        <a href="https://www.instagram.com/wildcodeschool/" target="_blank"><button class="btn btn-outline-light rounded-circle"> <i class="fab fa-instagram"></i> </button></a>
        <a href="https://www.youtube.com/channel/UCi99G_0QPx5sYsK8zdvQzfw/" target="_blank"><button class="btn btn-outline-light rounded-circle"> <i class="fab fa-youtube"></i> </button></a>


    </div>
</footer>

</body>
</html>
