</main>

<footer class="footer">
    <div class="container">

        <span class="text-muted"> <span class="wcs_brand_orange">WCS</span> <span class="wcs_brand_white">.COM</span> </span>


        <button class="btn btn-outline-light rounded-circle"> <i class="fas fa-rss"></i> </button>
        <button class="btn btn-outline-light rounded-circle"> <i class="fab fa-twitter"></i> </button>
        <button class="btn btn-outline-light rounded-circle"> <i class="fab fa-facebook-f"></i> </button>
        <button class="btn btn-outline-light rounded-circle"> <i class="fab fa-instagram"></i> </button>
        <button class="btn btn-outline-light rounded-circle"> <i class="fab fa-youtube"></i> </button>


    </div>
</footer>

</body>
</html>
