<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{% endblock %}</title>

    <!-- Bootstrap style -->
    <link rel="stylesheet" href="/assets/css/bootstrap.css">

    <!-- Personal style -->
    <link rel="stylesheet" href="/assets/css/styles.css">


    <!-- Font awesome style -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">

    <!-- Animate.css -->
    <link rel="stylesheet" href="/assets/css/animate.css" >

    {% block stylesheet %}{% endblock %}
    <link rel="icon" href="/assets/images/favicon.png">
</head>

<body>


<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top shadow p-3 mb-5 bg-white">

    <img class="navbar-brand img-fluid img_wcs" src="/assets/images/logo.png" alt="logo">
    <a class="navbar-brand" href="/"><span class="base_wcs_orange">into the </span><span class="base_wcs_white">wild</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">

        <ul class="navbar-nav mr-auto">

            <li class="nav-item">
                <a class="nav-link" href="#"><span class="sr-only"></span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#">PORTFOLIO</a>
            </li>

            <li class="nav-item ">
                <a class="nav-link" href="/articles">BLOG</a>
            </li>

        </ul>

        <ul class="navbar-nav mr-auto">

            <li class="nav-item ">
                <a class="nav-link" href="/connexion">CONNEXION</a>
            </li>

            <li class="nav-item ">
                    <a class="nav-link" href="/inscription">INSCRIPTION</a>
            </li>
        </ul>


    </div>
</nav>

    {% include 'flashes.html.twig' %}

{% block content %}{% endblock %}


{% block javascript %}

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" type="text/javascript"></script>
        <script src="assets/js/script.js" type="text/javascript"></script>
{% endblock %}



{% include "footer.html.twig" %}