body {
    padding-top: 5rem;
}
.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}


#navbarsExampleDefault {
    background-color: #FFA948;
    font-weight: bold;
}


.navbar {
    background-color: #FFA948 !important;
    font-weight: bold;
}


.img_wcs {
    width: 40px;
}


.base_wcs_orange {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 30px;
    color: #5B8EA3;
}


.base_wcs_white {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 30px;
    color: white;
}


li.nav-item:nth-child(2) > a:nth-child(1) {
    margin-right: 40px;
    margin-left: 75px;
}


li.nav-item:nth-child(4) > a:nth-child(1) {
    padding-right: 360px;
}
/* SLIDE BAR INFOS */

.slide-admin-infos
{
    background-color: black;
    height: 28px;
    margin-top: -10px;
    font-size: 12px;
}
.slide-admin-infos marquee
{
    color: white;
    margin-top: 5px;
}
.slide-admin-infos p
{
    color: white;
    margin-top: 5px;
}

/* FOOTER */


/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.footer {
    background-color: #FFA948;
}

body > .container {
    padding: 60px 15px 0;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

code {
    font-size: 80%;
}

/* END FOOTER */



.wcs_brand_orange {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    color: #5B8EA3;
}

.wcs_brand_white {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    color: white;
}
