body {
    padding-top: 5rem;
}
.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}

#navbarsExampleDefault {
    background-color: #6D909C;
    font-weight: bold;
}

.navbar {
    background-color: #6D909C !important;
    font-weight: bold;
}

.img_wcs {
    width: 40px;
}

.base_wcs_orange {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 30px;
    color: orange;
}


.base_wcs_white {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 30px;
    color: white;
}

/*
li.nav-item:nth-child(2) > a:nth-child(1) {
    margin-right: 40px;
    margin-left: 75px;
} */


li.nav-item:nth-child(4) > a:nth-child(1) {
    padding-right: 360px;
}
.navbarMargin {
    display: flex;
    justify-content: space-around;
}



/* HOME PAGE */

.speratorHomePage
{

}
.card-img-top:hover{

}
.banner
{
    margin-top: -10px;
    height: 55vw;
    background: url("../../assets/images/header_background.jpg") no-repeat fixed 50% 10%;
    background-size: calc(100%);
}
.firstLetter
{
    color: orange;
}
.banner h1
{
    color: white;
    padding-top: 15%;
    font-size: 3vw;
}

.btn-sm
{
    background-color: orange;
    border: none;
}

/* END HOME PAGE */


/*-----------------------Caroussel----------------------------*/
.titleCaroussel
{
    font-family: "lobsterregular";
    font-size: 40px;
}
@media only screen and (max-width: 768px) {
    .titleCaroussel {
        transition-duration: 3s;
        font-size: 30px;
        margin-top: -100px;
    }
}
.titleCarouselItems h2
{
    font-family: "arial";
    font-size: 2vw;
    padding-left: 2vw;
}
/* -------SEPARATOR ----------*/
.bg-separator
{
    height: 20vw;
    background: url("../../assets/images/header_background.jpg");
    background-attachment: fixed;
    background-position: 50% 10%;
    background-repeat: no-repeat;
    background-size: calc(100%);
}


/* FOOTER */


/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
}
@media only screen and (max-width: 768px) {
    .footerDisplay {
        display:none;
    }
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.footer {
    background-color: #6D909C;
}
body
{
background-color: white;
}

body > .container {
    padding: 60px 15px 0;

}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

code {
    font-size: 80%;
}

/* END FOOTER */

.wcs_brand_orange {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    color: orange;
}

.wcs_brand_white {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    color: white;
}


.gray-btn {

    background-color: #6D909C !important;
    border-color: #6D909C !important;

}

/* liste articles utilisateur */
.cardDeck
{
    max-width: 100%;
    background-color: white;
    justify-content: center;
}


.cardArticle {

    box-shadow: 3px 3px 25px black;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
    margin-right: 20px !important;
    margin-left: 20px !important;
}
.cardText {
    height: 3.2em;
    color: black;
}

.imageArticle
{
    margin-bottom: 5px;
    width: 100%!important;
    height: 150px!important;
    object-fit: cover;
    opacity: 0.8;
}
.cardTitle
{
    width: 100%!important;
    height: 50px!important;
}

.linkDeco:link {
    text-decoration: none;
    color: inherit;
}

.card a:hover .imageArticle {
    opacity: 1;
}


/* Admin */

.preview_content {
    display: block;
    width: 100px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 80px;
}

.gray-btn {

    background-color: #6D909C !important;
    border-color: #6D909C !important;

}

/*-----------------------------------------------------------
showOneArticleUser    vue d'un article en front, coté user */

.orange {
    color: orange;
}
.imgArticle {
    max-height: 250px!important;
    object-fit: cover;
    float: left;
    width: 40%;
}

/* pas commentaire quand pas connecté;  card */
.commentCard {
    text-align: center;
}

.category {
    color: #6D909C;
}

#menuCategory {
    position: fixed;

}

@media only screen and (max-width: 768px) {
    body {
        padding-top: 5rem;
    }
     div.container-fluid.banner > div > h1 {
        font-size: 22px;
    }
    #logo_wcs{
        display: none;
    }
    .flecheHome{
        height: 0px;
    }
    .titleCarouselItems h2{
        transition-duration: 3s;
        font-size: 22px;
    }

}

.flecheLeft
{
    padding-top: 39%;
    padding-left: 1%;
    font-size: 25px;
    color: black;

}
.flecheRight
{
    padding-top: 0%;
    padding-left: 92%;
    font-size: 25px;
    color: black;
}
@media only screen and (max-width: 1200px) {
    .flecheLeft
    {
        padding-top: 38%;
        padding-left: 2%;
        font-size: 25px;
        color: black;

    }
    .flecheRight
    {
        padding-top: 0%;
        padding-left: 90%;
        font-size: 25px;
        color: black;
    }

}
@media only screen and (max-width: 768px) {
    .flecheLeft
    {
        padding-top: 36%;
        padding-left: 2%;
        font-size: 25px;
        color: black;

    }
    .flecheRight
    {
        padding-top: 0%;
        padding-left: 88%;
        font-size: 25px;
        color: black;
    }

}
@media only screen and (max-width: 768px) {
    .flecheLeft
    {
        padding-top: 30%;
        padding-left: 2%;
        font-size: 18px;
        color: black;

    }
    .flecheRight
    {
        padding-top: 0%;
        padding-left: 82%;
        font-size: 18px;
        color: black;
    }

}

