<form method="post">

        <br/>
        <label>Titre de l'article : </label><br/>
        <input type="text" value="{{ Article.titre }}" name="titre">

        <!--
        <select name="menu">
            <option> Wild breackfast
            <option> Hackathon
            <option> Article 3
            <option selected> Categorie
            <option> Article 4
            <option> Article5
        </select><br/><br/>
        -->

        <br/>
        <br/>
        <label>Contenu : </label><br/>
        <textarea value="{{ article.contenu }}" name="contenu" rows="6" cols="30"></textarea>
        <br/>
        <br/>
        <input type="submit" value="Valider">
</form>

