
<form method="post" enctype="multipart/form-data">

        <div class="form-group">
                <label for="title">Titre de l'article : </label>
                <input type="text" name="title" value="{{ article.title }}" class="form-control" placeholder="Titre de votre article">
        </div>

    <select class="form-control" name="category">
                <option selected value=""> Choisissez la Categorie
                {% for category in categories %}
                <option  value="{{ category.id }}">{{ category.name }}
                {% endfor %}
        </select><br/><br/>

        <div class="form-group">
                <label for="content">Contenu de l'article : </label>
                <textarea name="content" rows="6" cols="30" class="form-control" placeholder="Contenu de l'article">{{ article.content }}</textarea>
        </div>

            <p class="d-inline">Ajout d'une image : </p>
            <div class="upload-btn-wrapper uploadButton d-inline ">
                <button class="btnUp"><i class="fas fa-upload"></i> Upload a file
                <input type="hidden" name="MAX_FILE_SIZE" value="2000000" />
                <input type="file" name="image" /></button>
            </div>

    <!--
        <div class="form-group ">

                <label for="image">Ajout d'une image : </label>
                <input type="hidden" name="MAX_FILE_SIZE" value="2000000" />
                <input type="file" name="image" class="btn">
        </div>-->


        <div style="padding-bottom: 20px;">
                <input type="submit" style="background-color: #6D909C; border-color: #6D909C;" class="btn btn-success" value="Envoyer">
        </div>
</form>
