<form method="post">


    <input type="text" value="{{ Article.titre }}" name="titre">

    <select name="menu">
        <option> Article 1
        <option> Article 2
        <option> Article 3
        <option selected> Mange tes morts
        <option> Article 4
        <option> Article5
    </select>


    <textarea value="{{ article.contenu }}" name="contenu"></textarea>

    <input type="submit" value="Valider">
</form>
