{% extends 'layout.html.twig' %}

{% block content %}
    <!-- Banner -->
<div class="container-fluid banner">


    <div><h1 class="col d-flex justify-content-center animated zoomInDown"><span class="firstLetter"> B</span>ienvenue dans la Wild !</h1></div>
    <a href="#portofolio"> <img style="margin-left: 42vw; width: 10vw; margin-top: 130px;" class="flecheHome animated zoomInDown col d-flex justify-content-center " src="https://hotel-les-cigales.fr/wp-content/uploads/2018/02/arrow_down_black.gif"></a>

</div>

    <div class="container-fluid speratorHomePage"></div>
    <div id="portofolio"><br id="portofolio"><br>  <br></div>

    <div id="carouselExampleControls" class="container carousel slide" data-ride="carousel">


        <h1 class="container mb-5 titleCaroussel"><span class="firstLetter">D</span>ecouvrez les derniers projets de nos wilders</h1>

        <div class="carousel-inner container">

            <div class="container titleCarouselItems carousel-item active row">
                <h2 class="titleBlog">Born to be wild</h2>
                <figure class="figure d-flex flex-wrap">
                    <div class="col-lg-8 col-12">
                        <a class="previeouxCarrousel" href="#carouselExampleControls" role="button" data-slide="prev">
                            <p class="flecheLeft position-absolute"><</p>
                        </a>
                        <a class="nextCarrousel text-center" href="#carouselExampleControls" role="button" data-slide="next">
                            <p class="flecheRight position-absolute">></p>
                        </a>
                        <img src="../assets/images/groupe1.png" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">

                    </div>
                    <div class="col-lg-4 col-12 align-self-center">
                        <figcaption class="figure-caption">Découvrez ces développeurs "nés pour être sauvage", vous serez surpris!</figcaption><a href="/portfolio/groupe1"><button type="button" class="mt-2 btn btn-dark">Découvrir !</button></a>
                    </div>
                </figure>
            </div>

            <div class="container titleCarouselItems carousel-item row">
                <h2 class="titleBlog">Air WCS</h2>
                <figure class="figure d-flex flex-wrap">
                    <div class="col-lg-8 col-12">
                        <a class="previeouxCarrousel" href="#carouselExampleControls" role="button" data-slide="prev">
                            <p class="flecheLeft position-absolute"><</p>
                        </a>
                        <a class="nextCarrousel text-center" href="#carouselExampleControls" role="button" data-slide="next">
                            <p class="flecheRight position-absolute">></p>
                        </a>
                        <img src="../assets/images/groupe2.png" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
                    </div>
                    <div class="col-lg-4 col-12 align-self-center">
                        <figcaption class="figure-caption">Bienvenue à bord de la compagnie Air WCS, rencontrez des profils atypiques qui ne manquerons pas de vous séduire. Nous vous souhaitons un agréable voyage en notre compagnie!</figcaption><a href="/portfolio/groupe2"><button type="button" class="mt-2 btn btn-dark">Découvrir !</button></a>
                    </div>
                </figure>
            </div>

            <div class="container titleCarouselItems carousel-item row">
                <h2 class="titleBlog">DEvelopers on DEmand</h2>
                <figure class="figure d-flex flex-wrap">
                    <div class="col-lg-8 col-12">
                        <a class="previeouxCarrousel" href="#carouselExampleControls" role="button" data-slide="prev">
                            <p class="flecheLeft position-absolute"><</p>
                        </a>
                        <a class="nextCarrousel text-center" href="#carouselExampleControls" role="button" data-slide="next">
                            <p class="flecheRight position-absolute">></p>
                        </a>
                        <img src="../assets/images/groupe3.png" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
                    </div>
                    <div class="col-lg-4 col-12 align-self-center">
                        <figcaption class="figure-caption">Photo de dos en noir et blanc, étonnant pour un portfolio mais au passage de la souris, les visages se dévoilent en couleur...Venez découvrir ces développeurs joueurs!</figcaption><a href="/portfolio/groupe3"><button type="button" class="mt-2 btn btn-dark">Découvrir !</button></a>
                    </div>
                </figure>
            </div>

            <div class="container titleCarouselItems carousel-item row">
                <h2 class="titleBlog">Welcome on our</h2>
                <figure class="figure d-flex flex-wrap">
                    <div class="col-lg-8 col-12">
                        <a class="previeouxCarrousel" href="#carouselExampleControls" role="button" data-slide="prev">
                            <p class="flecheLeft position-absolute"><</p>
                        </a>
                        <a class="nextCarrousel text-center" href="#carouselExampleControls" role="button" data-slide="next">
                            <p class="flecheRight position-absolute">></p>
                        </a>
                        <img src="../assets/images/groupe4.png" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
                    </div>
                    <div class="col-lg-4 col-12 align-self-center">
                        <figcaption class="figure-caption">Plus sobre mais tout aussi efficace, ce portfolio présente 5 développeurs aux talents insoupçonnés...</figcaption><a href="/portfolio/groupe4"><button type="button" class="mt-2 btn btn-dark">Découvrir !</button></a>
                    </div>
                </figure>
            </div>

            <div class="container titleCarouselItems carousel-item row">
                <h2 class="titleBlog">Wild Dev</h2>
                <figure class="figure d-flex flex-wrap">
                    <div class="col-lg-8 col-12">
                        <a class="previeouxCarrousel" href="#carouselExampleControls" role="button" data-slide="prev">
                            <p class="flecheLeft position-absolute"><</p>
                        </a>
                        <a class="nextCarrousel text-center" href="#carouselExampleControls" role="button" data-slide="next">
                            <p class="flecheRight position-absolute">></p>
                        </a>
                        <img src="../assets/images/groupe5.png" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
                    </div>
                    <div class="col-lg-4 col-12 align-self-center">
                        <figcaption class="figure-caption">Remontez le temps et plongez dans l'univers impitoyable du Far West, attrapez l'un de ces cowboys à l'air patibulaire et remportez la récompense!</figcaption><a href="/portfolio/groupe5"><button type="button" class="mt-2 btn btn-dark">Découvrir !</button></a>
                    </div>
                </figure>
            </div>

            <div class="container titleCarouselItems carousel-item row">
                <h2 class="titleBlog">Star Wars</h2>
                <figure class="figure d-flex flex-wrap">
                    <div class="col-lg-8 col-12">
                        <a class="previeouxCarrousel" href="#carouselExampleControls" role="button" data-slide="prev">
                            <p class="flecheLeft position-absolute"><</p>
                        </a>
                        <a class="nextCarrousel text-center" href="#carouselExampleControls" role="button" data-slide="next">
                            <p class="flecheRight position-absolute">></p>
                        </a>
                        <img src="../assets/images/groupe6.png" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
                    </div>
                    <div class="col-lg-4 col-12 align-self-center">
                        <figcaption class="figure-caption">Explorez la galaxie avec ce portfolio digne des plus grosses productions Holywoodienne! Georges Lucas n'a qu'à bien se tenir!</figcaption><a href="/portfolio/groupe6"><button type="button" class="mt-2 btn btn-dark">Découvrir !</button></a>
                    </div>
                </figure>
            </div>

            <div class="container titleCarouselItems carousel-item row">
                <h2 class="titleBlog">6X7</h2>
                <figure class="figure d-flex flex-wrap">
                    <div class="col-lg-8 col-12">
                        <a class="previeouxCarrousel" href="#carouselExampleControls" role="button" data-slide="prev">
                            <p class="flecheLeft position-absolute"><</p>
                        </a>
                        <a class="nextCarrousel text-center" href="#carouselExampleControls" role="button" data-slide="next">
                            <p class="flecheRight position-absolute">></p>
                        </a>
                        <img src="../assets/images/groupe7.png" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
                    </div>
                    <div class="col-lg-4 col-12 align-self-center">
                        <figcaption class="figure-caption">Retombez en enfance dans l'univers du Rétro Gaming des année 80 avec ce portfolio inspiré de "Pacman".</figcaption><a href="/portfolio/groupe7"><button type="button" class="mt-2 btn btn-dark">Découvrir !</button></a>
                    </div>
                </figure>
            </div>

            <div class="container titleCarouselItems carousel-item row">
                <h2 class="titleBlog">Titre</h2>
                <figure class="figure d-flex flex-wrap">
                    <div class="col-lg-8 col-12">
                        <a class="previeouxCarrousel" href="#carouselExampleControls" role="button" data-slide="prev">
                            <p class="flecheLeft position-absolute"><</p>
                        </a>
                        <a class="nextCarrousel text-center" href="#carouselExampleControls" role="button" data-slide="next">
                            <p class="flecheRight position-absolute">></p>
                        </a>
                        <img src="../assets/images/groupe8.png" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
                    </div>
                    <div class="col-lg-4 col-12 align-self-center">
                        <figcaption class="figure-caption">Venez prendre un bol d'air frais à la montagne, un retour aux sources, avec ce portfolio "nature".</figcaption><a href="/portfolio/groupe8"><button type="button" class="mt-2 btn btn-dark">Découvrir !</button></a>
                    </div>
                </figure>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>

            <div class="container titleCarouselItems carousel-item row">
                <h2 class="titleBlog">Air Wild</h2>
                <figure class="figure d-flex flex-wrap">
                    <div class="col-lg-8 col-12">
                        <a class="previeouxCarrousel" href="#carouselExampleControls" role="button" data-slide="prev">
                            <p class="flecheLeft position-absolute"><</p>
                        </a>
                        <a class="nextCarrousel text-center" href="#carouselExampleControls" role="button" data-slide="next">
                            <p class="flecheRight position-absolute">></p>
                        </a>
                        <img src="../assets/images/groupe9.png" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
                    </div>
                    <div class="col-lg-4 col-12 align-self-center">
                        <figcaption class="figure-caption">Une envie de prendre le large? Choisissez Air Wild pour un voyage "cartoonesque"!</figcaption><a href="/portfolio/groupe9"><button type="button" class="mt-2 btn btn-dark">Découvrir !</button></a>
                    </div>
                </figure>

            </div>

        </div>
    </div>







    <!-- Caroussel -->

    <br/>
    <!--  END Caroussel -->




    <!--  Articles View -->

<div class="container d-flex flex-wrap shadow p-3 mt-5 rounded justify-content-around">
        <h2 class="container mt-3 mb-5 titleCaroussel"><span class="firstLetter">L</span>iste de nos articles</h2>

    <div class="container-fluid d-flex justify-content-center">


    </div>
    {% for articles in article | slice(length -3) %}
    <div class="card mb-3 justify-content-center" style="width: 18rem;">
        <img class="card-img-top imageArticle" src="/assets/images/{{ articles.imageName }}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title cardTitle">{{ articles.title  }}</h5>
            <p class="card-text">{{ articles.content[:50] ~ " ..." }}</p>
            <a href="/article/{{ articles.id }}">
            <button type="button" class="btn btn-outline-secondary"><i class="fas fa-eye"></i> Lire</button>
            </a>

        </div>
    </div>
    {% endfor %}
</div>
    <div class="mt-4"><br></div>

    <!--  END Articles View -->
{% endblock %}
