{% extends 'layout.html.twig' %}

{% block content %}
    <!-- Banner -->
<div class="container-fluid banner">


    <div><h1 class="col d-flex justify-content-center animated zoomInDown"><span class="firstLetter"> B</span>ienvenue dans la Wild !</h1></div>
    <a href="#portofolio"> <img style="margin-left: 42vw; width: 10vw; margin-top: 130px;" class="animated zoomInDown col d-flex justify-content-center " src="https://hotel-les-cigales.fr/wp-content/uploads/2018/02/arrow_down_black.gif"></a>

</div>

    <div class="container-fluid speratorHomePage"></div>
    <div id="portofolio"><br id="portofolio"><br>  <br></div>

    <div id="carouselExampleIndicators" class="container carousel slide" data-ride="carousel">


        <h1 class="container mb-5 titleCaroussel">Decouvrez les derniers projets de nos wilders ...</h1>

        <div class="carousel-inner container">

            <div class="container titleCarouselItems carousel-item active row">

                <h2>Born to be wild</h2>


                <figure class="figure d-flex flex-wrap">
                    <div class="col-lg-8 col-12">
                        <img src="../assets/images/groupe1.png" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">

                    </div>
                    <div class="col-lg-4 col-12">

                        <figcaption class="figure-caption">Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en
                            page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un
                            imprimeur anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte.
                            Il n'a pas fait que survivre cinq siècles, mais s'est aussi adapté à la bureautique informatique, sans que son
                            contenu n'en soit modifié.</figcaption><a href="/portfolio/groupe1"><button type="button" class="mt-2 btn btn-dark">Dark</button></a>
                    </div>
                </figure>
            </div>

            <div class="container titleCarouselItems carousel-item row">
                <h2>Air WCS</h2>
                <figure class="figure d-flex flex-wrap">
                    <div class="col-lg-8 col-12">
                        <img src="../assets/images/groupe2.png" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
                    </div>
                    <div class="col-lg-4 col-12">
                        <figcaption class="figure-caption">Bienvenue à bord de la compagnie Air WCS, venez découvrir des profils atypiques qui ne manquerons pas de vous séduire.Nous vous souhaitons un agréable voyage en notre compagnie</figcaption><a href="/portfolio/groupe2"><button type="button" class="mt-2 btn btn-dark">Dark</button></a>
                    </div>
                </figure>
            </div>

            <div class="container titleCarouselItems carousel-item row">
                <h2>DEvelopers on DEmand</h2>
                <figure class="figure d-flex flex-wrap">
                    <div class="col-lg-8 col-12">
                        <img src="../assets/images/groupe3.png" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
                    </div>
                    <div class="col-lg-4 col-12">
                        <figcaption class="figure-caption">Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en
                            page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un
                            imprimeur anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte.
                            Il n'a pas fait que survivre cinq siècles, mais s'est aussi adapté à la bureautique informatique, sans que son
                            contenu n'en soit modifié.</figcaption><a href="/portfolio/groupe3"><button type="button" class="mt-2 btn btn-dark">Dark</button></a>
                    </div>
                </figure>
            </div>

            <div class="container titleCarouselItems carousel-item row">
                <h2>Welcome on our</h2>
                <figure class="figure d-flex flex-wrap">
                    <div class="col-lg-8 col-12">
                        <img src="../assets/images/groupe4.png" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
                    </div>
                    <div class="col-lg-4 col-12">
                        <figcaption class="figure-caption">Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en
                            page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un
                            imprimeur anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte.
                            Il n'a pas fait que survivre cinq siècles, mais s'est aussi adapté à la bureautique informatique, sans que son
                            contenu n'en soit modifié.</figcaption><a href="/portfolio/groupe4"><button type="button" class="mt-2 btn btn-dark">Dark</button></a>
                    </div>
                </figure>
            </div>

            <div class="container titleCarouselItems carousel-item row">
                <h2>Wild Dev</h2>
                <figure class="figure d-flex flex-wrap">
                    <div class="col-lg-8 col-12">
                        <img src="../assets/images/groupe5.png" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
                    </div>
                    <div class="col-lg-4 col-12">
                        <figcaption class="figure-caption">Remontez le temps et plongez dans l'univers impitoyable du Far West, attrapez l'un de ces cowboys à l'air patibulaire et remportez la récompense!</figcaption><a href="/portfolio/groupe5"><button type="button" class="mt-2 btn btn-dark">Dark</button></a>
                    </div>
                </figure>
            </div>

            <div class="container titleCarouselItems carousel-item row">
                <h2>Star Wars</h2>
                <figure class="figure d-flex flex-wrap">
                    <div class="col-lg-8 col-12">
                        <img src="../assets/images/groupe6.png" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
                    </div>
                    <div class="col-lg-4 col-12">
                        <figcaption class="figure-caption">Explorez la galaxie avec ce portfolio digne des plus grosses productions Holywoodienne!</figcaption><a href="/portfolio/groupe6"><button type="button" class="mt-2 btn btn-dark">Dark</button></a>
                    </div>
                </figure>
            </div>

            <div class="container titleCarouselItems carousel-item row">
                <h2>6X7</h2>
                <figure class="figure d-flex flex-wrap">
                    <div class="col-lg-8 col-12">
                        <img src="../assets/images/groupe7.png" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
                    </div>
                    <div class="col-lg-4 col-12">
                        <figcaption class="figure-caption">Retombez en enfance dans l'univers du Rétro Gaming des année 80 avec ce portfolio inspiré de "Pacman".</figcaption><a href="/portfolio/groupe7"><button type="button" class="mt-2 btn btn-dark">Dark</button></a>
                    </div>
                </figure>
            </div>

            <div class="container titleCarouselItems carousel-item row">
                <h2>Titre</h2>
                <figure class="figure d-flex flex-wrap">
                    <div class="col-lg-8 col-12">
                        <img src="../assets/images/groupe8.png" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
                    </div>
                    <div class="col-lg-4 col-12">
                        <figcaption class="figure-caption">Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en
                            page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un
                            imprimeur anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte.
                            Il n'a pas fait que survivre cinq siècles, mais s'est aussi adapté à la bureautique informatique, sans que son
                            contenu n'en soit modifié.</figcaption><a href="/portfolio/groupe8"><button type="button" class="mt-2 btn btn-dark">Dark</button></a>
                    </div>
                </figure>
            </div>

            <div class="container titleCarouselItems carousel-item row">
                <h2>Air Wild</h2>
                <figure class="figure d-flex flex-wrap">
                    <div class="col-lg-8 col-12">
                        <img src="../assets/images/groupe9.png" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
                    </div>
                    <div class="col-lg-4 col-12">
                        <figcaption class="figure-caption">Faites une pause</figcaption><a href="/portfolio/groupe9"><button type="button" class="mt-2 btn btn-dark">Dark</button></a>
                    </div>
                </figure>
            </div>

        </div>
    </div>







    <!-- Caroussel -->

    <br/>
    <!--  END Caroussel -->




    <!--  Articles View -->

<div class="container d-flex flex-wrap shadow p-3 mt-5 bg-white rounded justify-content-around">
    <h2 class="mt-3 mb-3 text-center">Liste de nos articles</h2>
    <div class="container-fluid d-flex justify-content-center">

        <img src="/assets/images/separator.png" class="img-fluid">

    </div>
    {% for articles in article | slice(length -3) %}
    <div class="card mb-3 justify-content-center" style="width: 18rem;">
        <img class="card-img-top" src="/assets/images/{{ articles.imageName }}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{ articles.title  }}</h5>
            <p class="card-text">{{ articles.content[:50] ~ " ..." }}</p>
            <a href="/article/{{ articles.id }}" class="btn btn-primary btn-sm">Read me!</a>
        </div>
    </div>
    {% endfor %}
</div>
    <div class="mt-4"><br></div>

    <!--  END Articles View -->
{% endblock %}
