{% extends 'layout.html.twig' %}

{% block content %}


<div class="container-fluid banner">


    <div><h1 class="col d-flex justify-content-center animated zoomInDown"><span class="firstLetter"> B</span>ienvenue dans la Wild !</h1></div>
    <a href="#portofolio"> <img style="margin-left: 42vw; width: 10vw; margin-top: 130px;" class="animated zoomInDown col d-flex justify-content-center " src="https://hotel-les-cigales.fr/wp-content/uploads/2018/02/arrow_down_black.gif"></a>

</div>

    <div id="portofolio"><br id="portofolio"><br>  <br></div>
    <!-- Caroussel -->
<div class="container shadow p-3 mt-5 bg-white rounded">
    <h2 class="text-center">Portfolio</h2>
    <div class="container-fluid d-flex justify-content-center mb-5">

        <img src="/assets/images/separator.png">

    </div>
    <div id="carouselExampleFade" class="carousel slide carousel-fade m-3" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="card-deck">
                    <div class="card">
                        <img class="card-img-top" src="../assets/images/groupe1.png" alt="Francisco">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                    <div class="card">
                        <img class="card-img-top" src="../assets/images/groupe2.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                    <div class="card">
                        <img class="card-img-top" src="../assets/images/groupe3.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="card-deck">
                    <div class="card">
                        <img class="card-img-top" src="../assets/images/groupe4.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                    <div class="card">
                        <img class="card-img-top" src="../assets/images/groupe5.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                    <div class="card">
                        <img class="card-img-top" src="../assets/images/groupe6copy.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="card-deck">
                    <div class="card">
                        <img class="card-img-top" src="../assets/images/groupe7.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                    <div class="card">
                        <img class="card-img-top" src="../assets/images/groupe8.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                    <div class="card">
                        <img class="card-img-top" src="../assets/images/groupe9.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon bg-dark" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
            <span class="carousel-control-next-icon bg-dark" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
    <br/>
    <!--  END Caroussel -->




    <!--  Articles View -->
    <h2 class="mt-3 text-center">Liste de nos articles</h2>
    <div class="container-fluid d-flex justify-content-center">

        <img src="/assets/images/separator.png">

    </div>
<div class="container d-flex">
    {% for articles in article %}
    <div class="card mb-1 justify-content-center" style="width: 18rem;">
        <img class="card-img-top" src="/assets/images/Atable.jpeg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{ articles.titre  }}</h5>
            <p class="card-text">{{ articles.contenu }}</p>
            <a href="/article/{{ articles.id }}" class="btn btn-primary btn-sm">Read me!</a>
        </div>
    </div>
    {% endfor %}
</div>

    <!--  END Articles View -->
{% endblock %}
