{% extends 'layout.html.twig' %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-10 offset-1">
            <h2>Category : <span class="orange">Actualités à la Wild</span></h2>
            <hr>
        </div>
    </div>
    <div class="row">

        <div class="col-4 offset-1">

            <img src="/assets/images/pollen_colorized.jpg" alt="pollen">

        </div>
        <div class="col-6">
            <h1>{{ article.titre }}</h1>
            <p class="motcoupe">{{ article.contenu }}</p>

        </div>

    </div>
</div>
{% endblock %}